html,body {
    width:100%;
    height:100%;
    background-image: url("/static/img/index-page-back.jpg");
    background-position: center;
    background-size: cover;
    color: rgba(255,255,255,0.8);
}
a{
    color:white;
}
.nav-bar , .acnt-set{
    display: flex;
}
.nav-bar h5 {
    padding: 13px 16px;
}
.acnt-set {
    justify-content: flex-end;
    margin-left: auto;
}
h1 , h3 {
    text-align: center;
    padding:5px;
}
h1 {
    margin-top: 150px;
    padding-top:20px;
}
h3 {
    padding-bottom: 20px;
}
.wlcm {
    background-color: rgba(255,255,255,0.2);
    max-width: 50%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 5px;
}